@font-face {
  font-family: "Martian Mono";
  src: url(/assets/fonts/martian-mono/MartianMono-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/inter/Inter-VariableFont_opsz\,wght.ttf);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 1228px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 1090px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 980px) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 748px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 651px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 369px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 293px) {
  html {
    font-size: 45%;
  }
}

body {
  font-family: "Inter";
  font-size: 2rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.05rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 3.2rem;
  padding-bottom: 6.6rem;
  background-color: #faf5f3;
  background-image: url(/assets/images/pattern-glow.svg), url(/assets/images/pattern-light-bg.svg);
  background-repeat: no-repeat, repeat, no-repeat;
  background-position: calc(50% + 72rem) calc(100% + 43rem), center;
}
@media (max-width: 980px) {
  .header {
    background-position: calc(50% + 41rem) calc(100% + 43rem), center;
    padding-bottom: 8rem;
  }
}
@media (max-width: 600px) {
  .header {
    padding-top: 2.4rem;
  }
}
.header__container {
  width: 100%;
  max-width: 117.4rem;
}
@media (max-width: 980px) {
  .header__container {
    max-width: 70.4rem;
  }
}
@media (max-width: 600px) {
  .header__container {
    max-width: 34.3rem;
  }
}
.header__nav {
  margin-bottom: 8rem;
}
@media (max-width: 980px) {
  .header__nav {
    margin-bottom: 6.4rem;
  }
}
@media (max-width: 600px) {
  .header__nav {
    margin-bottom: 4.8rem;
  }
}
.header__nav img {
  height: 3.6rem;
  display: block;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 980px) {
  .header__content {
    flex-direction: column;
    gap: 6.4rem;
  }
}
.header__heading {
  font-family: "Martian Mono";
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.2rem;
  background-image: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
  background-clip: text;
  color: transparent;
  margin-bottom: 2.4rem;
}
@media (max-width: 600px) {
  .header__heading {
    font-size: 3.8rem;
  }
}
.header__sub {
  color: #385159;
  max-width: 57rem;
  margin-bottom: 3.2rem;
}
@media (max-width: 980px) {
  .header__sub {
    max-width: unset;
  }
}
.header__btn {
  margin-bottom: 2rem;
}
.header__image {
  height: 60.6rem;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 0.8rem;
}
@media (max-width: 980px) {
  .header__image {
    width: 100%;
    height: auto;
  }
}
.header__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.features {
  width: 100%;
  max-width: 117.4rem;
  display: flex;
  flex-direction: column;
  gap: 12rem;
  padding: 12rem 0;
}
@media (max-width: 980px) {
  .features {
    max-width: 70.4rem;
  }
}
@media (max-width: 600px) {
  .features {
    max-width: 34.3rem;
  }
}
@media (max-width: 980px) {
  .features {
    padding: 8rem 0;
    gap: 8rem;
  }
}
@media (max-width: 600px) {
  .features {
    padding: 6.4rem 0;
    gap: 6.4rem;
  }
}

.journey {
  width: 100%;
  max-width: 117.4rem;
  background-color: #faf5f3;
  background-image: url(/assets/images/pattern-glow.svg), url(/assets/images/pattern-light-bg.svg);
  background-repeat: no-repeat, repeat;
  background-position: calc(50% + 50rem) calc(100% + 50rem), center;
  margin-bottom: 12rem;
  padding: 8rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.4rem;
  border-radius: 2rem;
  overflow: hidden;
}
@media (max-width: 980px) {
  .journey {
    max-width: 70.4rem;
  }
}
@media (max-width: 600px) {
  .journey {
    max-width: 34.3rem;
  }
}
@media (max-width: 980px) {
  .journey {
    align-items: stretch;
    background-position: calc(50% + 26rem) calc(100% + 39rem), center, center;
    padding: 8rem 3.2rem;
    margin-bottom: 8rem;
  }
}
@media (max-width: 600px) {
  .journey {
    padding: 6.4rem 1.6rem;
    margin-bottom: 6.4rem;
  }
}
.journey__heading {
  font-family: "Martian Mono";
  font-size: 5rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.2rem;
  color: #062630;
  text-align: center;
}
@media (max-width: 600px) {
  .journey__heading {
    font-size: 3.4rem;
  }
}
@media (max-width: 980px) {
  .journey__heading {
    text-align: left;
  }
}
.journey__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  font-family: "Martian Mono";
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.1rem;
}
@media (max-width: 600px) {
  .journey__list {
    font-size: 1.6rem;
  }
}
@media (max-width: 980px) {
  .journey__list {
    flex-direction: column;
    gap: 4rem;
  }
}
.journey__list li {
  max-width: 22.65rem;
  height: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 980px) {
  .journey__list li {
    max-width: unset;
    height: auto;
  }
}
.journey__list li:not(:last-child) {
  background-image: url(/assets/images/pattern-arrow.svg);
  background-repeat: no-repeat;
  background-position: top right;
}
@media (max-width: 980px) {
  .journey__list li:not(:last-child) {
    background-image: none;
  }
}
.journey__index {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid #062630;
  border-radius: 0.4rem;
}
@media (max-width: 980px) {
  .journey__index {
    margin-bottom: 2rem;
  }
}

.membership {
  width: 100%;
  max-width: 97rem;
  margin-bottom: 12rem;
}
@media (max-width: 980px) {
  .membership {
    max-width: 70.4rem;
  }
}
@media (max-width: 600px) {
  .membership {
    max-width: 34.3rem;
    margin-bottom: 6.4rem;
  }
}
.membership__heading {
  font-family: "Martian Mono";
  font-size: 5rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.2rem;
  margin-bottom: 6.4rem;
  text-align: center;
}
@media (max-width: 600px) {
  .membership__heading {
    font-size: 3.4rem;
  }
}
@media (max-width: 600px) {
  .membership__heading {
    margin-bottom: 2.4rem;
    text-align: left;
  }
}
.membership__cards {
  list-style: none;
  display: flex;
  width: 100%;
  gap: 2.4rem;
}
@media (max-width: 980px) {
  .membership__cards {
    flex-wrap: wrap;
  }
}
@media (max-width: 980px) {
  .membership .card {
    max-width: calc(50% - 1.2rem);
  }
}
@media (max-width: 600px) {
  .membership .card {
    max-width: unset;
  }
}

.testimony {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3.2rem;
  max-width: 97rem;
  margin-bottom: 12rem;
}
@media (max-width: 980px) {
  .testimony {
    align-items: flex-start;
    text-align: left;
    max-width: 70.4rem;
    margin-bottom: 8rem;
  }
}
@media (max-width: 600px) {
  .testimony {
    max-width: 34.3rem;
    margin-bottom: 6.4rem;
  }
}
.testimony__stars {
  display: flex;
}
.testimony__text {
  font-family: "Martian Mono";
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.1rem;
  color: #062630;
}
@media (max-width: 600px) {
  .testimony__text {
    font-size: 2.4rem;
    line-height: 110%;
  }
}
.testimony__author {
  font-family: "Inter";
  font-size: 2rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.05rem;
  color: #385159;
}

.footer {
  background-color: #062630;
  color: #faf5f3;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  border-radius: 1.6rem 1.6rem 0 0;
}
@media (max-width: 980px) {
  .footer {
    padding-top: 6.4rem;
  }
}
@media (max-width: 600px) {
  .footer {
    padding-top: 4.8rem;
  }
}
.footer__heading {
  font-family: "Martian Mono";
  font-size: 5rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.2rem;
  max-width: 68.5rem;
  text-align: center;
}
@media (max-width: 600px) {
  .footer__heading {
    font-size: 3.4rem;
  }
}
@media (max-width: 600px) {
  .footer__heading {
    max-width: 34.3rem;
  }
}
@media (max-width: 600px) {
  .footer__btn.btn {
    max-width: 34.3rem;
  }
}
@media (max-width: 600px) {
  .footer__review {
    max-width: 34.3rem;
  }
}
.footer__review .review__text {
  color: #ffffff;
}
.footer__bar {
  width: 100%;
  max-width: 117.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  margin-top: 2.4rem;
  border-top: 0.1rem solid #385159;
}
@media (max-width: 980px) {
  .footer__bar {
    max-width: 70.4rem;
  }
}
@media (max-width: 600px) {
  .footer__bar {
    max-width: 34.3rem;
  }
}
@media (max-width: 600px) {
  .footer__bar {
    flex-direction: column;
    align-items: center;
    padding: 2.4rem;
    gap: 1.6rem;
    height: auto;
  }
}
.footer__legal {
  font-family: "Martian Mono";
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.1rem;
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.footer__social img {
  height: 2.2rem;
  display: block;
}
.footer__social img:hover {
  opacity: 0.7;
}

.btn {
  text-decoration: none;
  font-family: "Martian Mono";
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.1rem;
  color: #062630;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  border: 0.2rem solid #062630;
  height: 6.4rem;
  padding: 0 2.4rem;
  border-radius: 0.8rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
@media (max-width: 600px) {
  .btn {
    font-size: 1.6rem;
  }
}
@media (max-width: 600px) {
  .btn {
    width: 100%;
    padding: 0;
  }
}
.btn:hover {
  background-image: linear-gradient(90deg, #ffe2d1, #fff5ef);
}
.btn:focus {
  outline: 0.2rem solid #062630;
  outline-offset: 0.2rem;
}
.btn--dark {
  color: #ffffff;
  border-color: #ffffff;
}
.btn--dark:hover {
  background-image: linear-gradient(90deg, #385159, #062630);
}
.btn--dark:focus {
  outline: 0.2rem solid #ffffff;
}

.review {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 1.2rem;
  row-gap: 0.4rem;
}
.review figure {
  grid-row: 1/3;
}
.review figure img {
  width: 11rem;
  display: block;
}
.review__stars {
  display: flex;
  align-items: center;
  height: 2.4rem;
}
.review__text {
  font-family: "Martian Mono";
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.1rem;
  color: #385159;
}

.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}
@media (max-width: 980px) {
  .article {
    flex-direction: column;
    gap: 4rem;
    align-items: stretch;
  }
}
.article__img {
  width: 56rem;
  height: 52rem;
  overflow: hidden;
  border-radius: 2rem;
  flex-shrink: 0;
  z-index: -1;
}
@media (max-width: 980px) {
  .article__img {
    width: 100%;
    height: auto;
  }
}
.article__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article__heading {
  font-family: "Martian Mono";
  font-size: 5rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.2rem;
  color: #062630;
}
@media (max-width: 600px) {
  .article__heading {
    font-size: 3.4rem;
  }
}
.article__heading strong {
  font-weight: inherit;
  display: inline-block;
  position: relative;
}
.article__heading strong::before {
  content: "";
  background-image: url(/assets/images/pattern-circle.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 100%;
}
.article__list {
  list-style: none;
  font-family: "Inter";
  font-size: 2rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.05rem;
  color: #385159;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  max-width: 43.1rem;
  margin-top: 3.4rem;
}
@media (max-width: 980px) {
  .article__list {
    width: 100%;
    max-width: unset;
  }
}
.article__list li {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
.article__list li::before {
  content: "";
  background-image: url(/assets/images/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  height: 2.8rem;
  width: 2.8rem;
  flex-shrink: 0;
}
.article__text {
  font-family: "Inter";
  font-size: 2rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.05rem;
  color: #385159;
  margin-top: 2.4rem;
}
.article__text strong {
  font-family: "Inter";
  font-size: 2rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.05rem;
  font-weight: 600;
}
.article:nth-child(odd) {
  flex-direction: row-reverse;
}
@media (max-width: 980px) {
  .article:nth-child(odd) {
    flex-direction: column;
  }
}
.article:nth-child(2) {
  background-image: url(/assets/images/logos-tech.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 0.5rem) calc(100% - 3.1rem);
  background-size: auto 13.8rem;
}

.card {
  width: 100%;
  padding: 2.4rem;
  border: 0.1rem solid #e6e1df;
  border-radius: 0.8rem;
  margin: 1.6rem 0;
}
@media (max-width: 980px) {
  .card {
    width: auto;
    margin: 0;
    flex-grow: 1;
  }
}
.card:nth-child(2) {
  margin: 0;
  width: 110%;
  padding: 4rem 2.4rem;
  background-color: #faf5f3;
  background-image: url(/assets/images/pattern-glow.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 24rem) calc(100% + 52rem);
}
@media (max-width: 980px) {
  .card:nth-child(2) {
    width: auto;
    padding: 2.4rem;
  }
}
.card__heading {
  font-family: "Martian Mono";
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.1rem;
  color: #062630;
  margin-bottom: 2.4rem;
}
.card__price {
  font-family: "Inter";
  font-size: 2rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.05rem;
  color: #385159;
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 2.4rem;
}
.card__price strong {
  font-family: "Martian Mono";
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.1rem;
  color: #062630;
}
@media (max-width: 600px) {
  .card__price strong {
    font-size: 2.4rem;
    line-height: 110%;
  }
}
.card__line {
  border: none;
  height: 0.1rem;
  width: 100%;
  background-color: #e6e1df;
  border-radius: 1rem;
  margin-bottom: 2.4rem;
}
.card__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}
.card__list li {
  display: flex;
  gap: 1.2rem;
}
.card__list li::before {
  content: "";
  display: block;
  background-image: url(/assets/images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.4rem;
  width: 2.4rem;
}
.card__btn {
  background-color: #fff5ef;
  text-transform: uppercase;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
