.features {
  @include container;
  display: flex;
  flex-direction: column;
  gap: 12rem;
  padding: 12rem 0;

  @media (max-width: $Tablet) {
    padding: 8rem 0;
    gap: 8rem;
  }

  @media (max-width: $Mobile) {
    padding: 6.4rem 0;
    gap: 6.4rem;
  }
}
