.footer {
  background-color: $Neutral-900;
  color: $Neutral-100;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  border-radius: 1.6rem 1.6rem 0 0;

  @media (max-width: $Tablet) {
    padding-top: 6.4rem;
  }

  @media (max-width: $Mobile) {
    padding-top: 4.8rem;
  }

  &__heading {
    @include text-2;
    max-width: 68.5rem;
    text-align: center;

    @media (max-width: $Mobile) {
      max-width: 34.3rem;
    }
  }

  &__btn.btn {
    @media (max-width: $Mobile) {
      max-width: 34.3rem;
    }
  }

  &__review {
    @media (max-width: $Mobile) {
      max-width: 34.3rem;
    }
  }

  &__review .review__text {
    color: $Neutral-0;
  }

  &__bar {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    margin-top: 2.4rem;
    border-top: 0.1rem solid $Neutral-700;

    @media (max-width: $Mobile) {
      flex-direction: column;
      align-items: center;
      padding: 2.4rem;
      gap: 1.6rem;
      height: auto;
    }
  }

  &__legal {
    @include text-7;
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    img {
      height: 2.2rem;
      display: block;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
