.journey {
  @include container;
  background-image: url(/assets/images/pattern-glow.svg),
    url(/assets/images/pattern-light-bg.svg), $Background-Gradient;
  background-repeat: no-repeat, repeat, no-repeat;
  background-position: calc(50% + 50rem) calc(100% + 50rem), center, center;
  margin-bottom: 12rem;

  padding: 8rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.4rem;
  border-radius: 2rem;
  overflow: hidden;

  @media (max-width: $Tablet) {
    align-items: stretch;
    background-position: calc(50% + 26rem) calc(100% + 39rem), center, center;
    padding: 8rem 3.2rem;
    margin-bottom: 8rem;
  }

  @media (max-width: $Mobile) {
    padding: 6.4rem 1.6rem;
    margin-bottom: 6.4rem;
  }

  &__heading {
    @include text-2;
    color: $Neutral-900;
    text-align: center;

    @media (max-width: $Tablet) {
      text-align: left;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    @include text-6;

    @media (max-width: $Tablet) {
      flex-direction: column;
      gap: 4rem;
    }

    li {
      max-width: 22.65rem;
      height: 11rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width: $Tablet) {
        max-width: unset;
        height: auto;
      }

      &:not(:last-child) {
        background-image: url(/assets/images/pattern-arrow.svg);
        background-repeat: no-repeat;
        background-position: top right;

        @media (max-width: $Tablet) {
          background-image: none;
        }
      }
    }
  }

  &__index {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.2rem solid $Neutral-900;
    border-radius: 0.4rem;

    @media (max-width: $Tablet) {
      margin-bottom: 2rem;
    }
  }
}
