// Neutral

$Neutral-900: #062630;
$Neutral-700: #385159;
$Neutral-200: #e6e1df;
$Neutral-100: #faf5f3;
$Neutral-0: #ffffff;

// Light Salmon

$Light-Salmon-500: #fea36f;
$Light-Salmon-100: #ffe2d1;
$Light-Salmon-50: #fff5ef;

// Gradient

$Text-Gradient: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
$Background-Gradient: linear-gradient(90deg, #ffe2d1 0%, #fff5ef 100%);
